exportPattern("^[[:alpha:]]+")
import(usethis)
import(tibble)
import(utils)
import(dplyr)
import(economiccomplexity)
#import(stats)
import(openxlsx)
import(readxl)
import(roxygen2)
import(tidyr)

#importFrom("utils", "read.csv")
#importFrom("dplyr", "%>%", "select", "group_by", "summarize", "distinct", "ungroup", "filter")
#importFrom("readxl")
#importFrom("economiccomplexity", "balassa_index", "complexity_measures", "proximity", "complexity_outlook")
#importFrom("usethis", "createWorkbook", "addWorksheet", "writeData", "saveWorkbook")
#importFrom("tibble", "pivot_wider")
importFrom("stats", "aggregate")
